{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<head>
    <title>Blog</title>
</head>
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: center">
                    <h1 class="site-heading my-3 mt-2 text-white">Blog (Bread for Life)</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries -->
            {% for post in post_list %}
            <div class="col-md-6" style="padding-top: 20px;">
                <div class="card mb-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text text-muted h6">{{ post.created_on}} </p>
                        <img src = "{{ post.img_url }}" alt=" {{ post.slug }} " width="400"> 
                        <br> 
                        <br>   
                        <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
<br>
{%endblock%}