{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    <br>
    <br>   
      <a href="{% url 'blog:blog' %}" class="btn btn-primary">&larr; Back to Blog </a>
  </div>
</div>
<hr>
{% endblock content %}