{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>About Carl</title>
</head>
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: center">
                    <h1 class="site-heading my-3 mt-2 text-white">About Carl Tredoux</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <!-- Carl is connected -->
    <div class="row" style="background-color: #EBF9FB;">
    <div class="container">
        <br>
        <div class="row" style="background: url({% static 'images/carl-background.png'%}) no-repeat center center;">
            <div class="col-md-1"> </div>
            <div class="col-md-5">
                <div class="span5" style="border-bottom-style:solid; border-width: medium; border-color: #9B59B6;">
                    <h4>Carl Tredoux is connected to the people of our province and the challenges they face every day. He is working to break down the old partisan barriers in our society that limit and slow down the development of our province.</h4>
                </div>
                <div class="span5" style="font-size: 18px; color: grey; font-weight: 400; font-style:oblique;">
                    <br>
                    <p>Carl Tredoux was innovative, and persistent, put his party affiliation aside, and brought people together to accomplish things for our state. Mr. Tredoux has focused on creating new jobs, improving economic opportunities for all residents and guests of our state, addressing the economic bottleneck for middle-class families, and overall improvement.
                        He sees his role as helping the people of our state by bringing improvements to the Senate level. This allows the attention of government economic and policy experts to be focused on the state's problems that begin in small towns.</p>
                </div>
                <div class="span3">
                    <div class="position-relative col">
                    <div style="margin: 5px 5px 0px;">
                        <div class="d-flex w-100 position-relative" style="justify-content: center;">
                            <div class="transitioner w-100">
                                <button type="submit" onclick="window.location.href='http://127.0.0.1:8000/contact';" data-aos="null" data-aos-once="true" data-aos-offset="200" data-aos-delay="50" data-aos-duration="400" class="btn position-relative aos-init" style="width: 100%; background-color: rgba(252, 176, 69, 0); font-family: Roboto; font-weight: 700; line-height: 1.5; color: rgb(252, 176, 69); font-size: 15px; letter-spacing: 0px; padding: 10px 40px; border-color: rgb(252, 176, 69); border-style: solid; border-width: 2px; border-radius: 90px;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="order-1">
                                            <div class="text-ghost">GET INVOLVED</div>
                                        </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                </div> 
                </div>
            <div class="col-md-5">
                <div class="vertical-center">
                <center>
                <img src = "{% static 'images/carl-profile-2.png' %}" alt="Profile Photo" width="100%" style="border-radius: 20px;">
                </center>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- Carl's Mission -->
    <div class="row" style="padding-top: 20px; background: url({% static 'images/background.png'%}) no-repeat center center;">
    <div class="container">
        <div class="row" style="padding-left: 18px; color: white; font-weight: 700; border-bottom-style:solid; border-width: thin;">
            <h2>Carl's Mission</h2>
        </div>
        <div class="row">
            <div class="col-md-4" style="border-right: 2px; color: white; border-right-style:solid; border-width: thin;">
                    <div class="span4" style="font-weight:700; color: white; padding-top: 20px;" >
                        <h4>Education</h4>
                        <hr style="background-color: white;">
                    </div>
                    <div class="span4" style="font-style: italic; font-size: 15px; color: white; padding-right: 20px; margin-left: 0px;">
                        <p>Education has always been one of Mr. Tredoux's greatest concerns, not only because it's often neglected by other politicians, but also because Carl Tredoux is a former school teacher.</p>
                    </div>
            </div>
            <div class="col-md-4" style="border-right: 2px; color: white; border-right-style:solid; border-width: thin;">
                    <div class="span4" style="font-weight:700; color: white; padding-top: 20px;">
                        <h4>Social</h4>
                        <hr style="background-color: white;">
                    </div>
                    <div class="span4" style="font-style: italic; font-size: 15px; color: white; padding-right: 20px; margin-left: 0px;">
                        <p>To improve the social aspect of life in our community, Carl Tredoux has instituted a new social responsibility policy for local governments, major corporations, and businesses that deal with our citizens.</p>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="span4" style="font-weight:700; color: white; padding-top: 20px;">
                        <h4>Agriculture</h4>
                        <hr style="background-color: white;">
                    </div>
                    <div class="span4" style="font-style: italic; font-size: 15px; color: white; padding-right: 20px; margin-left: 0px;">
                        <p>Agriculture is often not a priority in modern politics, and therefore its improvement became one of Carl's main goals. Achieving more in this area means a lot for the economy of our state.</p>
                    </div>
            </div>
        </div>
    </div>
    </div>    
    <!-- What People Say -->
    <div class="row" style="background-color: #EBF9FB;">
        <div class="container" style="padding-top: 20px;">
            <div class="row" style="padding-left: 18px; font-weight: 700; border-bottom-style:solid; border-width: thin; border-color: #9B59B6;">
                <h2>What People Say</h2>
            </div>
            <div class="row">
                <div class="col-md-6" style="border-right: 2px; border-right-style:solid; border-width: medium; border-color: #9B59B6;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="span4" style="font-weight:700; padding-top: 20px;" >
                                <img src = "{% static 'images/jenifer-moreno-160x160.jpg' %}" alt="jenifer" width="100%" style="border-radius: 100%;">
                            </div>
                            <br>
                            <div class="span4" style="text-align: center;">
                                <h6>Jenifer Moreno</h6>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="span3" style="font-weight:700; padding-top: 20px;" >
                                <img src = "{% static 'images/quotes.png' %}" alt="quotes" width="100">
                            </div>
                            <br>
                            <div class="span3" style="font-style: italic; font-size: 15px; padding-right: 20px; margin-left: 0px;">
                                <p>Thanks to Carl Tredoux's educational program for our province, we now have better schools and colleges. As a teacher, I greatly appreciate the system of education and professional improvement that Carl has instituted with this new program.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="span4" style="font-weight:700; padding-top: 20px;" >
                                <img src = "{% static 'images/kathleen-mallon-160x160.jpg' %}" alt="kathleen" width="100%" style="border-radius: 100%;">
                            </div>
                            <br>
                            <div class="span4" style="text-align: center;">
                                <h6>Kathleen Mallon</h6>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="span3" style="font-weight:700; padding-top: 20px;" >
                                <img src = "{% static 'images/quotes.png' %}" alt="quotes" width="100">
                            </div>
                            <br>
                            <div class="span3" style="font-style: italic; font-size: 15px; padding-right: 20px; margin-left: 0px;">
                                <p>Until the introduction of Carl Tredoux as representative of our province, the situation of the infrastructure in our city was not as good as we wished. Moreover, he promised us many economic improvements, and that is exactly what he achieved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>      
 </body>
</html>
{%endblock%}