{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>About Carl</title>
</head>
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: center">
                    <h1 class="site-heading my-3 mt-2 text-white">Get In Touch</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <!-- Are things better today -->
    <div class="row" style="background-color: #EBF9FB;">
    <div class="container">
        <br>
        <div class="row" style="background: url({% static 'images/carl-background.png'%}) no-repeat center center;">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div class="span6">
                    <div class="form-group" disabled="false" type="text">
                        <legend class="custom-input-label" style="font-size: 18px; margin-top: 20px; margin-bottom: 0px;">Your Name :</legend>
                        <input type="text" placeholder="Enter your name" class="form-control">
                    </div>
                    <div class="span6">
                        <div class="form-group estage-form-element-group mb-0" disabled="false" type="email">
                            <legend class="custom-input-label" style="font-size: 18px; margin-top: 20px; margin-bottom: 0px;">Your Email :</legend>
                            <input type="email" required="" placeholder="Enter email address" class="form-control">
                        </div>
                    </div>
                    <div class="span6">
                        <div class="form-group estage-form-element-group mb-0" disabled="false" type="email">
                            <legend class="custom-input-label" style="font-size: 18px; margin-top: 20px; margin-bottom: 0px;">Message :</legend>
                            <input type="email" required="" placeholder="Add message here" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="span3" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="position-relative col">
                    <div style="margin: 5px 5px 0px;">
                        <div class="d-flex w-100 position-relative" style="justify-content: center;">
                            <div class="transitioner w-100">
                                <button type="submit" onclick="window.location.href='http://127.0.0.1:8000/contact';" data-aos="null" data-aos-once="true" data-aos-offset="200" data-aos-delay="50" data-aos-duration="400" class="btn position-relative aos-init" style="width: 100%; background-color: rgba(252, 176, 69, 0); font-family: Roboto; font-weight: 700; line-height: 1.5; color: rgb(252, 176, 69); font-size: 15px; letter-spacing: 0px; padding: 10px 40px; border-color: rgb(252, 176, 69); border-style: solid; border-width: 2px; border-radius: 90px;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="order-1">
                                            <div class="text-ghost">SEND MESSAGE</div>
                                        </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div> 
            </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Carl Tredaux -->
     <div class="row" style="background-color: #EBF9FB; padding-top: 30px; padding-bottom: 10px; border-top-style:solid; border-width: thin; border-color: #9B59B6;">
        <div class="container">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-3"> </div>
                <div class="col-md-6" style="border-bottom-style:solid; border-width: thin; border-color: grey;">
                    <h4>Carl Tredoux Consulting</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-2">
                    <p>Address : </p>        
                </div>
                <div class="col-md-4">
                    <p>5 Tredoux Avenue, Cape Town, 8000, SOUTH AFRICA</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-2">
                    <p>Email : </p>        
                </div>
                <div class="col-md-4">
                    <p>contactus@tredouxconsulting.com</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-2">
                    <p>Phone Number : </p>        
                </div>
                <div class="col-md-4">
                    <p>+27 21 500 5000</p>
                </div>
            </div>
        </div>
    </div>
 </body>
</html>
{%endblock%}