{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Programs</title>
</head>
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: center">
                    <h1 class="site-heading my-3 mt-2 text-white">Political Programs</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <!-- Education -->
    <div class="row" style="background-color: #EBF9FB; padding-top: 20px;">
    <div class="container" style="border-style:solid; border-width: thin; border-color:grey; border-radius: 20px;">
        <br>
        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-6">
                <div class="span6">
                    <h3>Education</h3>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-4">
                <center>
                    <img src = "{% static 'images/education-1-870x280.jpg' %}" alt="Education" width="100%" style="border-radius: 30px;">
                </center>
            </div>    
            <div class="col-md-6">
                <div class="span6">
                    <p>Education is one of the most powerful tools that help society develop new professionals in various professions, from engineers to designers. However, some significant improvements are needed in this area.

                    Carl Tredoux's education reform emphasizes local control of education, providing instructional materials for teachers, and improving curricula for college students.</p>
                </div>
                <div class="span6">
                    <div class="position-relative col">
                    <div style="margin: 5px 5px 0px;">
                        <div class="d-flex w-100 position-relative" style="justify-content: center;">
                            <div class="transitioner w-100">
                                <button type="submit" onclick="window.location.href='http://127.0.0.1:8000/contact';" data-aos="null" data-aos-once="true" data-aos-offset="200" data-aos-delay="50" data-aos-duration="400" class="btn position-relative aos-init" style="width: 100%; background-color: rgba(252, 176, 69, 0); font-family: Roboto; font-weight: 700; line-height: 1.5; color: rgb(252, 176, 69); font-size: 15px; letter-spacing: 0px; padding: 10px 40px; border-color: rgb(252, 176, 69); border-style: solid; border-width: 2px; border-radius: 90px;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="order-1">
                                            <div class="text-ghost">LEARN MORE</div>
                                        </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                </div>  
            </div>
        </div>
    </div>
    </div> 
    <!-- Social -->
    <div class="row" style="background-color: #EBF9FB; padding-top: 20px;">
        <div class="container" style="border-style:solid; border-width: thin; border-color:grey; border-radius: 20px;">
            <br>
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-6">
                    <div class="span6">
                        <h3>Social</h3>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-6">
                    <div class="span6">
                        <p>In order to improve the social aspect of life in our community, Carl Tredoux has instituted a new social responsibility policy for local governments, large corporations, and businesses that deal with our citizens.
                            The new social program developed by Mr. Tredoux's team is based on several legislative improvements to reduce crime and poverty and increase employment opportunities and overall economic and financial standards.</p>
                    </div>
                    <div class="span6">
                        <div class="position-relative col">
                        <div style="margin: 5px 5px 0px;">
                            <div class="d-flex w-100 position-relative" style="justify-content: center;">
                                <div class="transitioner w-100">
                                    <button type="submit" onclick="window.location.href='http://127.0.0.1:8000/contact';" data-aos="null" data-aos-once="true" data-aos-offset="200" data-aos-delay="50" data-aos-duration="400" class="btn position-relative aos-init" style="width: 100%; background-color: rgba(252, 176, 69, 0); font-family: Roboto; font-weight: 700; line-height: 1.5; color: rgb(252, 176, 69); font-size: 15px; letter-spacing: 0px; padding: 10px 40px; border-color: rgb(252, 176, 69); border-style: solid; border-width: 2px; border-radius: 90px;">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <span class="order-1">
                                                <div class="text-ghost">LEARN MORE</div>
                                            </span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <br>
                    </div>  
                </div>
                <div class="col-md-4">
                    <center>
                        <img src = "{% static 'images/social-2-870x280.jpg' %}" alt="Education" width="100%" style="border-radius: 30px;">
                    </center>
                </div>  
            </div>
        </div>
        </div> 
<!-- Agriculture -->
<div class="row" style="background-color: #EBF9FB; padding-top: 20px; padding-bottom: 20px;">
    <div class="container" style="border-style:solid; border-width: thin; border-color:grey; border-radius: 20px;">
        <br>
        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-6">
                <div class="span6">
                    <h3>Agriculture</h3>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-4">
                <center>
                    <img src = "{% static 'images/agri-3-870x280.jpg' %}" alt="Education" width="100%" style="border-radius: 30px;">
                </center>
            </div>    
            <div class="col-md-6">
                <div class="span6">
                    <p>As the years go by, our country becomes more and more vulnerable as global warming affects all countries in the world. Despite high agricultural profits, American agriculture suffers environmental and unemployment consequences.

                        This is the main reason why Joseph Parker's political program can be useful for our country, especially with regard to agriculture. Mr. Parker wants to change that by providing more jobs for agricultural specialists and more resources for them.</p>
                </div>
                <div class="span6">
                    <div class="position-relative col">
                    <div style="margin: 5px 5px 0px;">
                        <div class="d-flex w-100 position-relative" style="justify-content: center;">
                            <div class="transitioner w-100">
                                <button type="submit" onclick="window.location.href='http://127.0.0.1:8000/contact';" data-aos="null" data-aos-once="true" data-aos-offset="200" data-aos-delay="50" data-aos-duration="400" class="btn position-relative aos-init" style="width: 100%; background-color: rgba(252, 176, 69, 0); font-family: Roboto; font-weight: 700; line-height: 1.5; color: rgb(252, 176, 69); font-size: 15px; letter-spacing: 0px; padding: 10px 40px; border-color: rgb(252, 176, 69); border-style: solid; border-width: 2px; border-radius: 90px;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="order-1">
                                            <div class="text-ghost">LEARN MORE</div>
                                        </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                </div>  
            </div>
        </div>
    </div>
    </div> 
</body>
</html>
{%endblock%}