{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>About Carl</title>
</head>
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: center">
                    <h1 class="site-heading my-3 mt-2 text-white">VIP Lounge</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <!-- Are things better today -->
<!--    <div class="row" style="background: url({% static 'images/lounge.png'%}) repeat center center; opacity: 0.5">  -->
    <div class="row" style="padding-top: 20px; background: url({% static 'images/lounge.png'%}) no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-5">
                <img src = "{% static 'images/carl-profile-1.png' %}" alt="Profile Photo" width="400">
           </div>
            <div class="col-md-5">
            <div class="vertical-center">
                <center>
                <div class="span5" style="border-bottom-style:solid; border-width: medium; border-color: #9B59B6;">
                    <h1>Let's Make Things Better</h1>
                    <h3>for those to come ...</h3>
                </div>
                <div class="span5" style="color:black">
                    <br>
                    <p>Carl Tredoux wants to offer you a hand of support. His goal is to develop individuals in the most innovative way possible.</p>
                </div>
                <div class="span5" style="color:black">
                    <br>
                    <h5>Watch this space...</h5>
                </div>
                </center>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
 </body>
</html>
{%endblock%}